{{- $image := .Page.Resources.GetMatch .Destination -}}

{{- /* The following is is used as a fallback if the image is not found or if it's a GIF. */ -}}
{{- $default := printf "<img src=\"%s\"alt=\"%s\" title=\"%s\" />" (.Destination | safeURL) $.PlainText $.Title -}}

{{- if $image -}}
    {{- if (strings.HasSuffix $image.Name ".gif") -}}
        {{- $default | safeHTML -}}
    {{- else -}}
        {{- $imageOriginalWidth := $image.Width -}}
        {{- $sizes := slice 458 768 1200 -}}
        {{- $srcset := slice -}}
        {{- $sizestag := slice -}}
        {{- range $sizes -}}
            {{- if lt (mul . 1.2) $imageOriginalWidth -}}
                {{- $thumb := $image.Resize (printf "%dx webp q100" .) -}}
                {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
                {{- $sizestag = $sizestag | append (printf ("(max-width: %dpx) 100vw") . ) -}}
            {{- end -}}
        {{- end -}}

        {{- if ne (len $srcset) 3 -}}
            {{- $thumb := $image.Resize (printf "%dx webp q100" $imageOriginalWidth) -}}
            {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink $imageOriginalWidth ) -}}
            {{- $sizestag = $sizestag | append (printf ("%dpx") $imageOriginalWidth ) -}}
        {{- end -}}
        <figure class="image-caption">
            <img
                src="{{ $image.RelPermalink }}"
                alt="{{ $.PlainText }}"
                title="{{ $.Title }}"
                {{- if gt (len $srcset) 0 -}}
                    {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
                    {{- (printf " sizes=\"%s\"" (delimit $sizestag ", ")) | safeHTMLAttr -}}
                {{- end -}}
            />
            <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
        </figure>
    {{- end -}}
{{- else -}}
    {{- warnf "Unable to find '%s' -- ensure image exists alongside document in page bundle" .Destination -}}
    {{- $default | safeHTML -}}
{{- end -}}
