.search {
  background: var(--base02);
  width: 100%;
  border-bottom-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}

.search-box {
  width: 100%;
  box-sizing: border-box;
}

.elbi-results {
  list-style: none;
  padding: 0;
  margin: 1em;
}

.elbi-results .elbi-results-item:last-child {
  padding-bottom: 0.5em;
}
.elbi-results-item a {
  color: var(--base07);
}

.elbi-results-item a:hover {
  color: var(--base04);
}

.search-result-date {
  color: var(--base04);
  font-style: italic;
}
