<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
      {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
</body>
</html>
