{{ define "main" }}
  <!--$paginator-->
  {{ $p := .RegularPagesRecursive }}
  {{ if .IsHome }}
    {{ $p = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ else if eq .Kind "taxonomy" }}
    {{ $p = $p.ByTitle }}
  {{ end }}
  {{ $paginator := .Paginate $p }}


  <!--list-->
  <main>
    {{ if .IsHome }}
      {{ partial "profile.html" . }}
    {{ end }}
    {{ if not .IsHome }}
      <h1>{{ title .Title }}</h1>
    {{ end }}
    {{ range $paginator.Pages }}
      <article>
        {{ if .Title }}
          <a aria-label="{{ .Title }}" class="post-title" href="{{ .RelPermalink }}">
            <h2>{{ .Title }}</h2>
          </a>
        {{ end }}
        <div>
          <span class="meta"
            ><a aria-label="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Date.Format "02 Jan, 2006" }}</a
            >{{ if ge .ReadingTime .Site.Params.minReadingTime }}
              ∗ {{ i18n "reading_time" .ReadingTime -}}
            {{ end }}</span
          >
        </div>
        <span class="post-content">
          {{- $relPermalink := .RelPermalink -}}
          {{- $title := .Params.title -}}
          {{ $firstImage := index .Params.images 0 }}
          {{ with $firstImage }}
            {{ $image := resources.Get . }}
            <div class="post-thumbnail">
              <a aria-label="{{ $title }}"href="{{- $relPermalink -}}">
                <img
                  src="{{- ( $image.Fill "1440x960 webp q100 Top" ).RelPermalink -}}"
                  alt="{{ i18n "post_image" $title }}"
                  loading="lazy"
                />
              </a>
            </div>
          {{ end }}
          <p>
            {{ .Summary | markdownify }}
          </p>
          {{ if .Truncated }}
            <div class="post-content__read-more">
              <a href="{{ .RelPermalink }}"
                ><i>{{ i18n "read_more" .Title }}</i></a
              >
            </div>
          {{ end }}
        </span>
      </article>
      <hr />
    {{ end }}
  </main>

  <!--pagination-->
  <nav>
    {{ template "_internal/pagination.html" . }}
  </nav>
  <hr />
{{ end }}
