{{define "main"}}

<main>
  <article>
    {{ if .Title }}
    <h1>{{ .Title }}</h1>
    {{ end }}
    <span class="meta">{{.Date.Format "2006-01-02 15:04"}} {{if
      .Page.Params.Author}} ∗ {{.Page.Params.Author}}{{else}} ∗ {{.Site.Params.Author.name}}{{end}}{{ if gt .ReadingTime
      .Site.Params.minReadingTime}} ∗ {{ i18n "reading_time" .ReadingTime -}}{{end}}{{- partial "langlist-single.html" . -}}
    </span>
    <span class="post-preface">
    {{ if .Page.Params.Summary }}
    <p>{{ .Page.Params.Summary | markdownify }}</p>
    {{ end }}
    <hr {{ if .Page.Params.Category -}} class="hr-{{- .Page.Params.Category -}}" {{- end -}}>
  </span>

    <span class="post-content">
      {{- if (eq .Params.toc true) -}}
      <details><summary>{{ i18n "toc" }}</summary>{{ .TableOfContents }}</details>{{- end -}}

      {{ .Content }}
      {{ if and (.Params.images) (.Params.showImagesBottom) }}
            {{- $title := .Params.title -}}
            {{ range .Params.images }}
            {{ $image := resources.Get . }}

                <img
                  src="{{- ( $image.Fill "1440x960 webp q100 Top" ).RelPermalink -}}"
                  alt='{{ i18n "post_image" $title }}'
                  loading="lazy"
                />
            {{ end }}


        {{ end }}
      <hr>
    </span>
    {{ if or (.Page.Params.Category) (.Page.Params.Series) }}
    <span class="meta">
      {{ if .Page.Params.Category}}
      <span class="meta-tax">Category:
      {{ range (.GetTerms "category") }}
      <a href="{{ .Permalink }}">{{- .LinkTitle -}}</a>
      {{ end }}
    </span>

      {{ end }}
      {{ if .Page.Params.Series}}
      <span class="meta-tax">Series:
        {{ range (.GetTerms "series") }}
        <a href="{{ .Permalink }}">{{- .LinkTitle -}}</a>
        {{ end }}
      </span>
      {{ end }}
    </span>
    {{ end }}
  </span>
  </article>
  {{ if or (.Page.Params.Series) }}
  <hr>
  {{end}}
</main>
{{end}}
