@charset "UTF-8";

:root {
  --base00: #000;
  --base01: #181818;
  --base02: #2d2d2d;
  --base03: #595959;
  --base04: #9e9e9e;
  --base05: #c3c3c3;
  --base06: #d5d5d5;
  --base07: #e7e7e7;
  --base08: #ff2600;
  --base09: #ff8d00;
  --base0a: #ffbf00;
  --base0b: #00bf39;
  --base0c: #009cff;
  --base0d: #003997;
  --base0e: #a200a1;
  --base0f: #b64f00;
}

/* Category Ruling */

.hr-misc {
  color: var(--base08);
}

.hr-recipes {
  color: var(--base09);
}

.hr-food {
  color: var(--base0a);
}

.hr-me {
  color: var(--base0b);
}

.hr-projects {
  color: var(--base0c);
}

.hr-drafts {
  color: var(--base0d);
}

.hr-guides {
  color: var(--base0f);
}
/* Fonts */
@font-face {
  font-display: fallback;
  font-family: "NewCM";
  src: url("/fonts/NewCM10-Book.woff2") format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: "NewCM";
  src: url("/fonts/NewCM10-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM";
  src: url("/fonts/NewCM10-BookItalic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM";
  src: url("/fonts/NewCM10-BookItalic.woff2") format("woff2");
  font-style: oblique;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM";
  src: url("/fonts/NewCM10-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM";
  src: url("/fonts/NewCM10-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM Mono";
  src: url("/fonts/NewCMMono10-Book.woff2") format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: "NewCM Mono";
  src: url("/fonts/NewCMMono10-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM Mono";
  src: url("/fonts/NewCMMono10-BookItalic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM Mono";
  src: url("/fonts/NewCMMono10-BookItalic.woff2") format("woff2");
  font-style: oblique;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM Mono";
  src: url("/fonts/NewCMMono10-BoldOblique.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: fallback;
  font-family: "NewCM Mono";
  src: url("/fonts/NewCMMono10-BoldOblique.woff2") format("woff2");
  font-weight: bold;
  font-style: oblique;
}

body {
  background: var(--base01);
  color: var(--base06);
  font-family: "NewCM", serif;
  margin: auto;
  max-width: 50rem;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
  font-size: 1.1em;
  padding: 1em;
}

nav {
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.1em;
}

pre {
  white-space: pre-wrap;
}

ul {
  padding: 0;
}

summary {
  font-style: italic;
}

nav a {
  color: var(--base06);
  text-decoration: none;
}

.pagination li.disabled a {
  color: var(--base03);
}

.nav-current {
  border-bottom: 0.1rem solid var(--base0b);
}

.pagination .active a,
.nav-current {
  color: var(--base07);
  font-weight: 700;
  font-style: italic;
}

.post-content a.blog-title,
.post-content a.blog-title:visited,
article .post-title {
  color: var(--base07);
  text-decoration: none;
}

.post-thumbnail {
  margin-top: 1em;
  margin-bottom: 1em;
}

article .post-title:hover {
  color: var(--base04);
  text-decoration: underline var(--base04);
}

blockquote {
  border-left: 0.2rem solid var(--base0b);
  padding-left: 0.5rem;
}

figure figcaption {
  text-align: center;
}

th,
td {
  border: 1px solid;
}

td {
  padding: 1ch;
}

code {
  font-family: "NewCM Mono";
  color: var(--base0c);
}

ruby rt {
  font-size: 0.6em;
}

.custom-emoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
}

.meta .langlistsingle,
.meta .langlistsingle a {
  font-style: normal;
}

.meta .langlistsingle a,
footer a,
article .post-content a,
.taxonomy-results a {
  color: var(--base09);
}

article .post-content a:visited,
.taxonomy-results a:visited {
  color: var(--base0e);
}

footer a:hover,
.meta .langlistsingle a:hover,
article .post-content a:hover,
.taxonomy-results a:hover {
  color: var(--base0f);
  text-decoration: underline;
}

article img {
  max-width: 100%;
}

figure figcaption,
article .meta,
article .meta a {
  color: var(--base04);
  text-decoration: none;
  font-style: italic;
}

.meta a:hover {
  text-decoration: underline;
}

.footer-text {
  padding-bottom: 1rem;
}

.pagination,
footer {
  text-align: center;
  width: 100%;
}

.pagination,
.langlist {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.langlist li {
  display: inline;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
}
.page-link {
  position: relative;
  display: block;
  padding: 1em;
  margin-left: -1px;
  line-height: 1.25;
}

.profile-container {
  display: grid;
  grid-template-columns: 80fr 20fr;
  column-gap: 1em;
}

.profile-picture {
  border-radius: 0.25em;
  float: right;
  min-width: 8em;
  margin-top: 2.5em;
}

.not-found-container {
  border-left: 0.25rem solid var(--base08);
  padding-left: 1rem;
}

nav a:hover,
.post-content a.blog-title:hover {
  color: var(--base0b);
  text-decoration: underline var(--base0b);
}

.pagination li.disabled a:hover,
.pagination .active a:hover,
.nav-current:hover {
  text-decoration: none;
}

article .post-content .anchored-heading a {
  color: var(--base06);
  text-decoration: inherit;
}

article .post-content .anchored-heading a:hover {
  color: var(--base06);
  text-decoration: underline;
}
