<div>
    {{ range .Site.Params.banner }}
    <a
  href="{{ .url }}" title="{{ .title }}"{{ if strings.HasPrefix .url "http" }} target="_blank" rel="noreferrer" {{ end }}><img loading="lazy" src="{{ .image }}" alt="{{ .altText }}"></a>
    {{ end }}
</div>
