<!-- Manual favicon generation -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>


<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ff8d00">
<meta name="msapplication-TileColor" content="#ff8d00">
<meta name="theme-color" content="#181818">

<!-- Automatic favicon generation -->
{{- $path     := site.Params.favicon }}
{{- $original := resources.Get $path  }}

{{- $icon   := $original.Fit "32x32 png" }}
<link rel="icon" type="image/png" href="{{ $icon.RelPermalink | relURL }}" sizes="32x32">

{{- $icon   := $original.Fit "16x16 png" }}
<link rel="icon" type="image/png" href="{{ $icon.RelPermalink | relURL }}" sizes="16x16">

{{- $apple_icon   := $original.Fit "76x76 png" }}
<link rel="apple-touch-icon-76x76" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="76x76"/>
<link rel="apple-touch-icon-76x76-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="76x76"/>

{{- $apple_icon   := $original.Fit "114x114 png" }}
<link rel="apple-touch-icon" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="114x114"/>
<link rel="apple-touch-icon-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="114x114"/>

{{- $apple_icon   := $original.Fit "120x120 png" }}
<link rel="apple-touch-icon-120x120" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="120x120"/>
<link rel="apple-touch-icon-120x120-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="120x120"/>

{{- $apple_icon   := $original.Fit "128x128 png" }}
<link rel="icon" type="image/png" href="{{ $apple_icon.RelPermalink | relURL }}" sizes=128x128>

{{- $apple_icon   := $original.Fit "152x152 png" }}
<link rel="apple-touch-icon-152x152" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="152x152"/>
<link rel="apple-touch-icon-152x152-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="152x152"/>

{{- $apple_icon   := $original.Fit "160x160 png" }}
<link rel="apple-touch-icon-160x160" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="160x160"/>
<link rel="apple-touch-icon-160x160-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="160x160"/>
<link rel="icon" type="image/png" href="{{ $apple_icon.RelPermalink | relURL }}" sizes=160x160>

{{- $apple_icon   := $original.Fit "167x167 png" }}
<link rel="apple-touch-icon-167x167" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="167x167"/>
<link rel="apple-touch-icon-167x167-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="167x167"/>

{{- $apple_icon   := $original.Fit "180x180 png" }}
<link rel="apple-touch-icon-180x180" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="180x180"/>
<link rel="apple-touch-icon-180x180-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="180x180"/>

{{- $apple_icon   := $original.Fit "196x196 png" }}
<link rel="apple-touch-icon-196x196" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="196x196"/>
<link rel="apple-touch-icon-196x196-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" sizes="196x196"/>
