<footer>
  <div class="footer-text">
    [
    {{ if .IsHome }}
      {{- partial "rss.html" . -}}
    {{ end }}
    <span> {{ replace .Site.Copyright "{{ YEAR }}" now.Year }} </span>
    {{- partial "langlist.html" . -}}
    ]
  </div>
  {{ if .Site.Params.enableBanners }}
    {{- partial "banners.html" . -}}
  {{ end }}
</footer>
