<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
  {{ $css := resources.Get "css/style.css" }}
  {{ $style := $css  | resources.ExecuteAsTemplate "css/main.css" . | resources.Minify | resources.Fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    integrity="{{ $style.Data.Integrity }}"
    crossorigin="anonymous"
    type="text/css"
  />
  <title>
    {{ if eq .Page.Title .Site.Title }}
      {{- .Site.Title | markdownify -}}
    {{ else if .Page.Title }}
      {{- .Page.Title | markdownify }} ∗
      {{ .Site.Title | markdownify -}}
    {{ else }}
      {{- .Summary | markdownify -}}
    {{ end }}
  </title>
  {{- if .Page.Params.dontIndex -}}
    <meta name="robots" content="noindex" />
  {{- end -}}
  <base href="{{ .Site.BaseURL }}{{ .RelPermalink }}" />

  <meta name="color-scheme" content="dark" />
  <meta name="rating" content="General" />
  <meta name="geo.region" content="AU-VIC" />
  <meta name="geo.placename" content="Melbourne" />
  <meta name="twitter:dnt" content="on" />
  <meta
    name="description"
    content="{{ if .Params.description }}
      {{- .Params.description -}}
    {{ else }}
      {{- .Site.Params.description -}}
    {{ end }}"
  />
  <meta
    name="author"
    content="{{ if .Page.Params.Author }}
      {{ .Page.Params.Author }}
    {{ else }}
      {{ .Site.Params.Author.name }}
    {{ end }}"
  />
  {{ partial "favicon.html" . }}
  {{ partial "schema.html" . }}
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}

  {{ if .IsHome }}
    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end }}

  {{ end -}}
</head>
