{{ if and (hugo.IsMultilingual) (gt $.AllTranslations 1 ) }}
∗
<span>
<ul class="langlist">
  {{ range $i, $e := $.AllTranslations }}
  {{ if (gt $i 1) }} ≀{{ end }}
  {{if ne .Lang $.Lang}}
  <li>
    <a href="{{.RelPermalink}}" title="{{ .Language.LanguageName }}">{{.Language.LanguageName}}</a>
  </li>
{{ end }}
{{ end }}
</ul>
</span>
{{ end }}
