{{ if and (hugo.IsMultilingual) (gt $.AllTranslations 1 ) }}
∗
    <ul class="langlist langlistsingle">
      {{ range $i, $e := $.AllTranslations }}
      {{ if $i }} ≀{{ end }}
      {{if eq .Lang $.Lang}}
      <li>
        {{- .Language.LanguageName -}}
      </li>
      {{else}}
      <li>
        <a href="{{.RelPermalink}}" title="{{ .Language.LanguageName }}">{{- .Language.LanguageName -}}</a>
      </li>
      {{ end }}

      {{ end }}
    </ul>
{{ end }}
