{{ if .Site.Params.enableProfile }}
<article>
<div class="profile-container">
  <div class="profile-info post-content">
    {{ if .Title }}
    <a aria-label="{{ .Site.Title }}" class="blog-title" href="{{ .Site.Params.profileLink }}">
      <h1>{{ .Site.Title }}</h1>
    </a>
    {{ end }}
    {{ if .Site.Params.subTitle }}
    <b>{{ .Site.Params.subTitle }}</b>
    {{ end }}
    {{ if .Site.Params.description }}
    <p>{{ .Site.Params.description }}</p>
    {{ end }}
    {{ if .Site.Params.profileLink }}
    <a href="{{ .Site.Params.profileLink }}"><i>{{ .Site.Params.profileLinkText }}</i></a>
    {{ end }}
  </div>
  {{ if .Site.Params.ProfilePicture }}
  <div>
    <a class="blog-title" aria-label="{{ .Site.Title }}" href="{{ .Site.Params.profileLink }}">
      {{- $image := resources.Get .Site.Params.ProfilePicture -}}
      <img alt="Profile Picture" class="profile-picture" src="{{ ( $image.Fill "600x600 webp q100 Top" ).RelPermalink }}">
    </a>
  </div>
  {{ end }}
</div>
</article>
<hr>
{{ end }}
