{{ with .OutputFormats.Get "rss" }}<span class="rss-feed"><a rel="{{.Rel}}" target="_blank" type="{{.MediaType.Type}}" href="{{.Permalink}}" title="{{ i18n "rss_feed" }}">{{ i18n "rss_feed" }}</a></span> ∗ {{ end }}
