{{- $images := .Site.Params.images -}}
{{- if .Params.images -}}
  {{- $images = .Params.images -}}
{{- end -}}
{{- with index  $images 0 }}
  {{ $image := resources.Get . }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:image"
    content="{{- ( $image.Fill "1440x960 webp q100 Top" ).Permalink -}}"
  />
{{- else }}
  <meta name="twitter:card" content="summary" />
{{- end }}

{{- with or .Title site.Title site.Params.title | plainify }}
  <meta name="twitter:title" content="{{ . }}" />
{{- end }}

{{- with or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp }}
  <meta name="twitter:description" content="{{ . }}" />
{{- end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}" />
    {{- end }}
  {{- end }}
{{- end }}
