{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ $css := resources.Get "css/search/style.css" }}
    {{ $style := $css  | resources.ExecuteAsTemplate "css/main.css" . | resources.Minify | resources.Fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
      crossorigin="anonymous"
      type="text/css"
    />

    <h2>Search</h2>
    <div class="search">
      <input
        type="text"
        id="elbi-input"
        class="search-box"
        placeholder="Search the site..."
      />
      <ul id="elbi-results" class="elbi-results"></ul>
    </div>
    {{ $search := resources.Get "js/search/search.js" | resources.ExecuteAsTemplate "js/search.js" . | minify | fingerprint -}}
    <script src="{{ $search.RelPermalink }}"></script>

    <h2>Posts</h2>
    <!--$paginator-->
    {{ $p := .Pages }}
    {{ if eq .Kind "taxonomy" }}
      {{ $p = $p.ByTitle }}
    {{ end }}
    {{ $paginator := .Paginate $p }}


    <!--list-->
    {{ range .Site.Pages }}
      {{ if eq .Kind "page" }}
        <article>
          <ul class="taxonomy-results">
            {{ if .Title }}
              <li>
                {{ .Date.Format "2006-01-02" }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{ else if .Summary }}
              <li>
                {{ .Date.Format "2006-01-02" }}
                <a href="{{ .RelPermalink }}"
                  >{{ .Summary | markdownify | truncate 128 }}</a
                >
              </li>
            {{ end }}
          </ul>
        </article>
      {{ end }}
    {{ end }}
    <!--pagination-->
    {{ template "_internal/pagination.html" . }}
  </main>
{{ end }}
